.header{
	width:75%;
	margin-left:12%;
	margin-right:13%;
	background-color: rgba(34,35,36,0.2);
}
.navbar-brand{
	background-color:rgba(128, 255, 128, 0.5);
	height: 12vh;
	font-size:40pt;
	text-align:center;
}
.menu{
	background-color:rgba(128, 255, 58, 0.5);
	height:38px;
}
.header ul{
	list-style:none;
	margin-top:0;
	font-size:18pt;
	padding-top:3px;
	text-align:center;
}
.header ul li{
	display:inline-block;
	background-color:rgb(204, 255, 255);
	height:100%;
	top:-3px;
	position:relative;
	width:220px;
	
}
.header ul li a{
	text-decoration:none;
	position:relative;
	bottom:-3px;
	color:black;
}
.header ul li:hover{
	background-color: rgba(128, 255, 58, 0.5);
	cursor:pointer;
}
.header ul li a:active{
	color:white;	
}